/**********
 Reset
***********/
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
    padding: 5px;
}

/**********
 Text
***********/
html {
    font-size: 10px;
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/fonts/Open_Sans/OpenSans-Regular.ttf');
  /* src: url('../../../public/fonts/Miriam.eot?#iefix') format('embedded-opentype'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.eot') format('woff2'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.woff') format('woff'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.ttf') format('truetype'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.svg') format('svg'); */
}

@font-face {
  font-family: 'Sawarabi Mincho';
  font-style: normal;
  font-weight: 400;
  src: url('../../../static/fonts/Sawarabi_Mincho/SawarabiMincho-Regular.ttf');
  /* src: url('../../../public/fonts/Miriam.eot?#iefix') format('embedded-opentype'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.eot') format('woff2'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.woff') format('woff'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.ttf') format('truetype'),
      url('../../../public/fonts/miriam-libre-v2-latin-regular.svg') format('svg'); */
}

/* body {
  margin: 15px 15px;
} */

body,
h1, h2, h3, h4, h5, h6,
p, a,
li, ul {
    /* color: #844747; */
    font-family: 'Open Sans', 'Lato', sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ul, ol, dl {
    margin: 30px 0;
}

li, li > *, dt, dd {
    margin: 10px 0;
}

pre, code {
    font-family: 'Space Mono', monospace;
}

h1 {font-size: 4rem;}
h2 {font-size: 3.5rem;}
h3 {font-size: 3rem;}
h4 {font-size: 2.4rem;}
h5 {font-size: 2rem;}
h6 {font-size: 1.6rem;}

p, a, li, dt, dd, tr, th {
    font-size: 1.8rem;
}

a {
    color: #2973b7;
    text-decoration: none;
}
a:hover {
    border-bottom: 1px solid black;
}


